# OPENAI_API_KEY=

VALMIKI_SUMMARY ="Adhyatma Ramayana or spiritual Ramayana is extracted from the Brahmanda Purana, traditionally ascribed to Vyasa. It is thought to be the inspiration for Tulsidas’ Ramcharitmanas in Awadhi. While the Valmiki Ramayana emphasizes Rama's human nature, the Adhyatam Ramayana tells the story from the perspective of his divinity. It is organized into seven Kandas, parallel to Valmiki's."
TULSI_SUMMARY ="Ramcharitmanas (Devanagari: रामचरितमानस rāmacaritamānasa), is an epic poem in the Awadhi language, based on the Ramayana, and composed by the 16th-century Indian bhakti poet Tulsidas (c. 1532–1623). This work is also called, in popular parlance, Tulsi Ramayana, Tulsikrit Ramayana, Tulsidas Ramayana or simply Manas. The word Ramcharitmanas literally means 'Lake of the deeds of Rama'"
VYAS_SUMMARY ="Vasistha Ramayana (more commonly known as Yoga Vasistha) is traditionally attributed to Valmiki. It is principally a dialogue between Vasistha and Rama in which Vasistha advances many of the principle tenets of Advaita Vedanta. It includes many anecdotes and illustrative stories, but does not recount Valmiki's story of Rama in detail."
VEDAS_SUMMARY ="The Vedas are a collection of ancient sacred texts in Hinduism, composed in Sanskrit. They are considered the oldest scriptures of Indian civilization and are divided into four main parts: the Rigveda, the Yajurveda, the Samaveda, and the Atharvaveda. The Vedas contain hymns, rituals, prayers, and philosophical teachings, providing insights into the religious and social practices of ancient India. They are revered as the foundation of Hinduism and have influenced various aspects of Indian culture, including language, music, and spirituality."
MB_SUMMARY ="The Mahabharata is an ancient Indian epic that tells the story of the Kurukshetra War between two factions of a royal family, the Pandavas and the Kauravas. It explores themes of duty, righteousness, and the consequences of actions. The epic also includes philosophical and moral teachings, as well as various subplots and stories. It is one of the longest epic poems in the world, consisting of over 200,000 verses and encompassing a wide range of characters and events."
PURANAS_SUMMARY ="The puranas are the anthology depticting all events which happened in earlier kalpas of mahakalpas. Vishnu purana and garuda purana and Shiva purana are some of the most commonly available text, where its beleived that we are currently living in the kalpa of the Vishnu purana."
GEETA_SUMMARY ="The Bhagavad Gita, often referred to as the Gita, is a 700-verse Hindu scripture that is part of the Indian epic Mahabharata. It is a conversation between Prince Arjuna and the god Krishna, who serves as his charioteer. The Gita explores various philosophical and ethical dilemmas faced by Arjuna on the battlefield, delving into topics such as duty, righteousness, and the nature of the self. It offers guidance on how to live a righteous life and attain spiritual enlightenment, emphasizing the importance of selfless action, devotion, and knowledge. The Gita is considered a sacred text and has had a profound influence on Hindu philosophy and spirituality."